.index1{
    text-align: center;
    font-size: 30px;
}

.index{
    color: black;
    text-decoration: none;
}


.vicerd{

    display: block;
        margin-left: auto;
        margin-right: auto;   
}



.titulo{
    text-align: center;
    background-color: wheat;
    border: 5px black;
    padding: 55px;
}

body{
    background-color: burlywood;
}

.resum{
    text-align: center;
}

